* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #41523b
    ; /* Světle šedá pro pozadí */
    color: #333; /* Tmavě šedá pro text */
    line-height: 1.6;
}

/* Hlavička */
header {
    background-color: #2c3e27; /* Tmavě modrá (stejné jako v historii) */
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1rem; /* Zvýšení velikosti písma pro výraznost */
    text-shadow: 1px 1px 15px white;

}

/* Hlavní kontejner */
.container {
    width: 80%;
    margin: 40px auto;
}

/* Nadpisy sekcí */
.section-title {
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: #1f2d1c; /* Stejná tmavě modrá jako v hlavičce */
    text-align: center;
    text-shadow: 1px 1px 15px white;
}

/* Textové bloky */
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.7;
    color: white;
    text-align: justify;
    
}

/* Styl pro text vedle sebe */
.comparison {
    display: flex;
    flex-wrap: wrap; /* Zajištění responsivity při menších obrazovkách */
    gap: 20px; /* Mezera mezi sloupci */
    margin-top: 20px;
}

.column {
    flex: 1;
    min-width: 300px; /* Zajištění minimální šířky sloupce */
    background-color: #536a4a; /* Bílý podklad pro text */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Jemný stín */
    border: 2 2 2 black;
    
}

.column h3 {
    color: #2c3e50;
    margin-bottom: 15px;
    text-shadow: 1px 1px 15px white;
    color: #1f2d1c;
    font-size: 1.5rem;
}

.column p {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    
}

.column ul {
    list-style-type: disc;
    margin-left: 20px;
}

.column ul li {
    margin-bottom: 10px;
}

/* Styl pro obrázek karet */
.card-image {
    text-align: center;
    margin-top: 30px;
}

.card-image img {
    max-width: 90%; /* Nastavení šířky obrázku na 90% */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Jemný stín pro obrázek */
}

/* Seznamy */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: white;
    text-align: justify;
}

li strong {
    color: #1f2d1c;
    text-shadow: 1px 1px 15px white;
}


/* Patička */
footer { 
text-align: center;  
background-color: #192416; 
color: white; 
display: flex; 
justify-content: center;
align-items: center;  
height: 100px;}

/* Odkazy */
a {
    color: #1abc9c; /* Svěží barva pro odkazy (stejná jako v historii) */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #16a085; /* Tmavší odstín při hoveru */
}

.button { 
position: absolute; 
top: 10px; 
right: 10px; 
display: inline-block; 
background-color: transparent; 
border: none; 
width: 50px; 
height: 50px; 
cursor: pointer; 
} 

.button img { 
width: 100%; 
height: 100%; 
object-fit: contain; 
border-radius: 5px; 
transform: scale(1.6);
} 

.button:hover img { 
filter: brightness(0.8); 
}

h2 {
color: #1f2d1c;
}

